


.wrapper {
  position: relative;
  padding: 50px;
}

.main {
  max-height:600px; 
  overflow: auto;
}

.main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
.main-table td, .main-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
.main-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.main-table tr:hover { 
  background-color: #ddd;
}

.main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.main-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main-button.red {
  background-color: #cb8888;
}

.main-button.dark-green {
  background-color: #6baf6d;
}